{% extends 'analytics_app/base.html' %}

{% block title %}My Uploads{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>My Uploads</h2>
    {% if uploads %}
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>File Name</th>
                    <th>Uploaded At</th>
                    <th>File Type</th>
                </tr>
            </thead>
            <tbody>
                {% for file in uploads %}
                <tr>
                    <td>{{ file.id }}</td>
                    <td>{{ file.file.name|slice:'8:' }}</td>
                    <td>{{ file.uploaded_at }}</td>
                    <td>{{ file.file_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not uploaded any files yet.</p>
    {% endif %}
</div>
{% endblock %}

